<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>{{title}}</h1>

  <app-loan-types></app-loan-types>
  <!-- <h1>Learning ngIf</h1> -->

  <!-- ngIf give us true and false value we can use it to hide specific element. -->
  <!-- <div *ngIf = "!success_msg && success_flag" style="background-color: aquamarine">
    user added successfully
  </div> -->
  <!-- <div *ngIf = "success_msg; else error_msg" style="background-color: aquamarine">
    user added successfully
  </div> -->
  <!-- <div *ngIf = "success_msg; then updated_msg; else error_msg" style="background-color: aquamarine">
    user added successfully
  </div> -->


  <!-- <ng-template #error_msg>
    user not added successfully.
  </ng-template>

  <ng-template #updated_msg>
    user was updated successfully.
  </ng-template> -->

  <!-- negated variable to achieve "if not" -->
  <!-- Only ngIf -->
  <!-- <div *ngIf="!isLoggedIn" style="background-color: aquamarine">
    Please Login, friend.
  </div>

  <div *ngIf="isLoggedIn && isNewUser">
    Welcome back, friend.
  </div>

  <div *ngIf="isLoggedIn || isNewUser">
    Welcome!
  </div>
  <!-- ngIf and else -->
  <!-- <div *ngIf="isLoggedIn; else loggedOut">
    Welcome back, friend in else case
  </div>

  <ng-template #loggedOut>
    Please friend, login first.
  </ng-template> -->

  <h2>Learning *ngFor</h2>
  <!-- Provide local variable in the array data 
    e.g: index -> gets the current index of the current element in iteration
    e.g: first -> return true if the current element is the first element in iteration
    e.g: last -> return true if the current element is the last element in iteration
    e.g: even -> return true if the current element is the even element in iteration
    e.g: odd -> return true if the current element is the odd element in iteration
  -->
  <ul>
    <li *ngFor="let contact of contacts; index as i; first as f; last as l;">
      <div *ngIf="f" style="background-color: aquamarine"> This is a first Record </div>
      <div>
        {{ i }}
        {{contact.firstName}}
        {{contact.lastName}}
        {{contact.contactId}}
      </div>
      <div *ngIf="l" style="background-color: green"> This is a last Record </div>
    </li>
  </ul>

  <div>
    <p>New table with even and odd </p>
    <ul>
      <li *ngFor="let contact of contacts;index as i; even as e; odd as o;">
        <div *ngIf="e" style="background-color: gray;"> This is a even Record </div>
        <div *ngIf="o" style="background-color: blue"> This is a odd Record </div>
        <div>
          {{ i }}
          {{contact.firstName}}
          {{contact.lastName}}
          {{contact.contactId}}
        </div>
      </li>
    </ul>
  </div>

  <h2>Learning ngSwitch</h2>

  <div [ngSwitch]="superPower">
    <!-- for string value will put '' single quotes inside double quotes -->
    <div *ngSwitchCase="'superMan'">Display super man super Powers</div>
    <div *ngSwitchCase="'spiderMan'">Display spider man super Powers</div>
    <div *ngSwitchCase="'superWomen'">Display super women super Powers</div>
    <div *ngSwitchCase="'hitMan'">Display hit man super Powers</div>
    <div *ngSwitchDefault>Display Default Value when value doesn't match</div>
  </div>

  <div [ngSwitch]="tax">
    <!-- for number value don't need to put '' single quotes inside double quotes -->
    <div *ngSwitchCase="10">Display tax value is 10</div>
    <div *ngSwitchCase="30">Display tax value is 30</div>
    <div *ngSwitchDefault>Display Default tax Value when value doesn't match that is 50%</div>
  </div>

  <div>Learning ngStyle</div>

  <!-- Common mistakes
    1: not giving correct {} braces
    2: not putting correct double/single quotes where required
    3: spelling mistakes in defining the css properties
    4: do not put quotes for the variables in dynamic style - it will become strings
  -->
  <!-- Basic use case for ngStyle -->
  <div [ngStyle]="{'background-color': 'green' ,'color':'#fff'}">This is basic use case for ngStyle Div</div>
  
  <!-- dynamic values from component for ngStyle -->
  <div [ngStyle]="{'background-color': styleProp ,'color':'#fff'}">This is Dynamic ngStyle Div</div>
  
  <!--ngStyle with conditional operators -->
  <div [ngStyle]="{'color': textColor === 'blue' ? 'blue' : 'green'}">This is Conditional ngStyle Div</div>

</body>

</html>